<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the test Page!</h1>
<ul>
        <h1>User</h1>
        <li><a href="http://localhost:8000/user/login">Login</a></li>
        <li><a href="http://localhost:8000/user/register/">Register</a></li>
        <li><a href="http://localhost:8000/user/logout/">logout</a></li>
    </ul>
    <ul>
        <h1>Location</h1>
        <li><a href="http://localhost:8000/location/register">Register</a></li>
        <li><a href="http://localhost:8000/location/search">Search</a></li>
        <li><a href="http://localhost:8000/location/manage">Manage</a></li>
    </ul>
    <ul>
        <h1>Item</h1>
        <li><a href="http://localhost:8000/item/register_item">Register</a></li>
        <li><a href="http://localhost:8000/item/search_items">Search</a></li>
        <li><a href="http://localhost:8000/item/manage_inventory">Manage</a></li>
    </ul>
    <ul>
        <h1>Category</h1>
        <li><a href="http://localhost:8000/category/register">Register</a></li>
        <li><a href="http://localhost:8000/category/search">Search</a></li>
        <li><a href="http://localhost:8000/category/manage">Manage</a></li>
    </ul>
</body>
</html>
